@import 'globals';

@include react-md-everything;

body {
  margin: 0;
}

.md-card-title--title,
.md-card-title--title-block {
  margin-left: 10px;
}

.Title {
  font-family: 'Cookie', cursive;
  font-size: 3em;
  letter-spacing: 1px;
}
